@charset "UTF-8";

div#aboutUsOverlay {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .85);
    justify-content: center;
    align-items: center;
}

div#overlayBackground {
    width: 30vw;
    height: 36vh;
    margin-left: 35vw;
    margin-top: 35vh;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div#closeButton {
    background-color: hsl(230, 100%, 65%);
    color: white;
    border-color: white;
    border-style: solid;
    width: 15vw;
    line-height: 2rem;
    font-size: 1.5rem;
    margin-left: 7vw;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

div#closeButton:hover {
    text-decoration: underline;
    cursor: pointer;
}

header {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 1vh;
}

p {
    font-size: 1.2rem;
    padding-left: 1vw;
    padding-right: 1vw;
}
