@charset "UTF-8";

body {
    font-family: Verdana, Geneva, sans-serif;
}

img {
    border-style: solid;
    border-color: black;
}

img#logo {
    margin-left: 25vw;
    width: 50vw;
    border: none;
}

nav > ul {
    list-style-type: none;
    text-align: center;
}
nav > ul > li {
    display: inline-flex;
}
nav > ul > li > a {
    color: black;
    text-decoration: none;
    text-align: center;
    padding: .5rem;
    width: 10vw;
}
nav > ul > li:first-of-type {
    background-color: hsl(35, 100%, 50%);
}
nav > ul > li:nth-of-type(2) {
    background-color: hsl(210, 100%, 50%);
}
nav > ul > li:nth-of-type(3) {
    background-color: hsl(285, 100%, 50%);
}
nav > ul > li:nth-of-type(4) {
    background-color: hsl(120, 100%, 50%);
}
nav > ul > li:nth-of-type(5) {
    background-color: hsl(315, 100%, 50%);
}
nav > ul > li:nth-of-type(6) {
    background-color: hsl(190, 100%, 50%);
}
nav > ul > li:hover {
    text-decoration: underline;
    text-align: center;
}

div[id="aboutUsButton"] {
    background-color: lightblue;
    font-size: 1.3rem;
    color: black;
    border-style: solid;
    border-color: black;
    line-height: 2rem;
    width: 15vw;
    height: 3rem;
    padding: .2rem;
    text-align: center;
    margin-left: 42vw;
}

div[id="aboutUsButton"]:hover {
    text-decoration: underline;
    cursor: pointer;
}

blockquote {
    color: black;
}
blockquote::before {
    content: open-quote;
    font-family: "Times New Roman", serif;
    font-size: 1.7em;
}
blockquote::after{
    content: close-quote;
    font-family: "Times New Roman", serif;
    font-size: 1.7em;
}

h1{
    font-size: 2rem;
}
main > p{
    font-size: 1.3rem;
}

main{
    text-align: center;
}

.image-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px;
    padding: 10px;
}

.image-gallery img{
    width: 100%;
    height: auto;
    display: block;
}

/* Design for smaller screens */

@media screen and (max-width: 1024px) {
    .image-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .image-gallery {
        grid-template-columns: 1fr;
    }
}

footer{
    background-color: navy;
    color: white;
}
footer a{
    color: white;
}
footer a:hover{
    color: lightblue;
    text-decoration: none;
}
